<div class="btn-group-vertical ">
    <div>
        <a href="#" class="btn btn-default">List Jobs</a>
    </div>
    <div>
        <a href="#" class="btn btn-default">List Subs</a>
    </div>
    <div>
        <a href="#" class="btn btn-default">List Users</a>
    </div>
    <div>
        <a href="#" class="btn btn-default">List URL</a>
    </div>
    <div>
        <a href="#" class="btn btn-default">List Emails</a>
    </div>
    <div>
        <a href="#" class="btn btn-default">Reply Templates</a>
    </div>
    <div>
        <a href="#" class="btn btn-default">Recent Engagement</a>
    </div>
</div>