<div class="container">
    <div class="row">
        <div class="col-4 bg"><b>Job Name</b></div>
        <div class="col-3 bg"><b>No. of Posts</b></div>
        <div class="col-5 bg"><b>Last Run Time</b></div>
    </div>
    <div class="row">
        <div class="col-4 bg">Survey Monkey</div>
        <div class="col-3 bg">24</div>
        <div class="col-5 bg">02/03/2022 11.43.24</div>
    </div>
    <div class="row">
        <div class="col-4 bg">Qualtrics</div>
        <div class="col-3 bg">48</div>
        <div class="col-5 bg">02/03/2022 11.43.24</div>
    </div>
    <div class="row">
        <div class="col-4 bg"></div>
        <div class="col-3 bg"></div>
        <div class="col-5 bg"></div>
    </div>
    <div class="row">
        <div class="col-4 bg"></div>
        <div class="col-3 bg"></div>
        <div class="col-5 bg"></div>
    </div>
    <div class="row">
        <div class="col-4 bg"></div>
        <div class="col-3 bg"></div>
        <div class="col-5 bg"></div>
    </div>
    <div class="row">
        <div class="col-4 bg"></div>
        <div class="col-3 bg"></div>
        <div class="col-5 bg"></div>
    </div>
    <div class="row">
        <div class="col-4 bg"></div>
        <div class="col-3 bg"></div>
        <div class="col-5 bg"></div>
    </div>
    <div class="row">
        <div class="col-4 bg"></div>
        <div class="col-3 bg"></div>
        <div class="col-5 bg"></div>
    </div>
    <div class="row">
        <div class="col-4 bg"></div>
        <div class="col-3 bg"></div>
        <div class="col-5 bg"></div>
    </div>
    <div class="row">
        <div class="col-4 bg"></div>
        <div class="col-3 bg"></div>
        <div class="col-5 bg"></div>
    </div>
    <div class="row">
        <div class="col-4 bg"></div>
        <div class="col-3 bg"></div>
        <div class="col-5 bg"></div>
    </div>
    <div class="row">
        <div class="col-4 bg"></div>
        <div class="col-3 bg"></div>
        <div class="col-5 bg"></div>
    </div>
    <div class="row">
        <div class="col-4 bg"></div>
        <div class="col-3 bg"></div>
        <div class="col-5 bg"></div>
    </div>
    <div class="row">
        <div class="col-4 bg"></div>
        <div class="col-3 bg"></div>
        <div class="col-5 bg"></div>
    </div>
    <div class="row">
        <div class="col-4 bg"></div>
        <div class="col-3 bg"></div>
        <div class="col-5 bg"></div>
    </div>
    <div class="row">
        <div class="col-4 bg"></div>
        <div class="col-3 bg"></div>
        <div class="col-5 bg"></div>
    </div>
    <div class="row">
        <div class="col-4 bg"></div>
        <div class="col-3 bg"></div>
        <div class="col-5 bg"></div>
    </div>
    <div class="row">
        <div class="col-4 bg"></div>
        <div class="col-3 bg"></div>
        <div class="col-5 bg"></div>
    </div>
    <div class="row">
        <div class="col-4 bg"></div>
        <div class="col-3 bg"></div>
        <div class="col-5 bg"></div>
    </div>
    <div class="row">
        <div class="col-4 bg"></div>
        <div class="col-3 bg"></div>
        <div class="col-5 bg"></div>
    </div>
    <div class="row">
        <div class="col-4 bg"></div>
        <div class="col-3 bg"></div>
        <div class="col-5 bg"></div>
    </div>
    <div class="row">
        <div class="col-4 bg"></div>
        <div class="col-3 bg"></div>
        <div class="col-5 bg"></div>
    </div>
</div> 